@import '../../index.scss';

.container-ingame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
    height: 80vh;
    background-color: $grey-color;

    .character-card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 1rem;
        height: 70%;
        width: 70%;
        background-color: $maroon-color;
        padding: 0.5rem;
        border-radius: 0.3rem;

        h3{
            font-size: 1.5rem; 
            letter-spacing: 0.3rem;
        }

        .character-image{
            background-image: url(https://4kwallpapers.com/images/wallpapers/wanda-maximoff-elizabeth-olsen-scarlet-witch-marvel-comics-1242x2688-8520.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
        }
    }

    .your-guess{
        background-color: $white-color;
        padding: 1rem;
        border-radius: 0.3rem;
        width: 70%;

        p{
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
            color: $black-color;
        }

        .container-guess-buttons{
            display: flex;
            justify-content: center;
            column-gap: 1rem;

            button{
                outline: none;
                cursor: pointer;
                border-radius: 50px;
                padding: 0.6rem 2rem;
                background-color: $black-color;

                &:hover{
                    background-color: $white-color;
                    transition: 0.3s;
                }
            }

            .ghero{
                border: 1.5px solid $sky-color;
                color: $sky-color;
            }

            .ganti{
                border: 1.5px solid $purple-color;
                color: $purple-color;
            }

            .gvillain{
                border: 1.5px solid $red-color;
                color: $red-color;
            }
        }
    }
}

@media (min-width: 768px){
    .container-ingame{
        flex-direction: row;
        column-gap: 2rem;

        .character-card{
            row-gap: 1.5rem;
            height: 90%;
            width: 20%;
    
    
            h3{
                font-size: 1.5rem;
            }
    
            .character-image{
                width: 100%;
                height: 100%;
            }
        }
    
        .your-guess{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;
            width: fit-content;
            padding: 1rem 2rem;
            
    
            .container-guess-buttons{
                flex-direction: column;
                row-gap: 1rem;
            }
        }
    }
}