@import '../../index.scss';

.container-homepage{
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    row-gap: 3rem;
    align-items: center;
    width: 100%;
    height: 79vh;
    background-color: $grey-color;

    input{
        padding: 1rem;
        outline: none;
        border-radius: 0.3rem;
        border: 1px solid $red-color;
        background-color: $black-color;
        color: $white-color;
        text-align: center;
        &::placeholder {
            color: #c2c2c2;
            font-size: 1rem;
            opacity: 0.7;
            width: fit-content;
          }
    }

    .button-start{
        background-color: $black-color;
        outline: none;
        border: 1px solid $red-color;
        color: $red-color;
        font-size: 1.6rem;
        padding: 0.6rem 2rem;
        border-radius: 50px;
        cursor: pointer;

        &:hover{
            background-color: $white-color;
            transition: 0.3s;
        }
    }
    .button-start.invisible{
        display: none;
        transition: 0.3s ease;
    }

    .container-categories.display {
        display: flex;
    }
    .container-categories.opacity {
        opacity: 1;
        transform: translateY(0);
    }

    .container-categories{
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;

        
        button{
            outline: none;
            border-radius: 50px;
            padding: 0.6rem 2rem;
             background-color: $black-color;
             cursor: pointer;

            &:hover{
                background-color: $white-color;
                    transition: 0.3s;
            }
        }

        .c25{
            border: 1.5px solid $green-color;
            color: $green-color;
        }

        .c50{
            border: 1.5px solid $sky-color;
            color: $sky-color;
        }

        .c75{
            border: 1.5px solid $red-color;
            color: $red-color;
        }

        
    }
}

@media (min-width: 768px){
    .container-homepage{
      padding-top: 10%;
    }
  }