$black-color: #0a0a0a;
$grey-color: #111111;
$white-color: #F3F3F3;
$purple-color: #e21460;
$sky-color: #00b1c5;
$green-color: #00c54c;
$red-color: #ff0000;
$maroon-color: #b80000;

$font-size-mobile: 10px;
$font-size-tablet: 12px;
$font-size-laptop: 14px;
$font-size-desktop: 16px;
$font-size-large-desktop: 18px;
$font-size-huge-desktop: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  color: $white-color;
  font-family: 'Bebas Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: $white-color;
}

html {font-size: $font-size-mobile;}
@media (min-width: 425px) {html {font-size: $font-size-tablet;}}
@media (min-width: 1240px) {html {font-size: $font-size-laptop;}}
@media (min-width: 1400px) {html {font-size: $font-size-desktop;}}
@media (min-width: 1900px) {html {font-size: $font-size-large-desktop;}}
@media (min-width: 2500px) {html {font-size: $font-size-huge-desktop;}}

.container-app{
  text-align: center;
  height: 100vh;

  .container-title{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $maroon-color;

    .title{
      font-size: 4rem;
      font-family: 'Anton', sans-serif;
      letter-spacing: 0.5rem;
      color: $white-color;
      text-shadow: $black-color 1px 0 10px;
    }
  }
  
  .window{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
}

h2{ 
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}
p, h3, button{
  font-size: 1.5rem;
}